/* Primary color */

html {
    height: 100vh;
}

.page {
    background-color: #B81D18;
    color: #b6b6b6;
    min-height: 98vh;
}

.mini-portrait {
    border-radius: 50%;
    max-width: 5%;
}

.footer {
    align-items: center;
    border-radius: 10px;
    border-color: green;
    border-style: solid;
}
